.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.title {
  letter-spacing: 0.6px;
  color: #01353e;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  font-family: "Raleway";
}
.title span {
  position: relative;
}
.title span::after {
  content: "";
  background-image: url("../img/slash-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 45px;
  height: 52px;
  top: 19px;
}
.text {
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 35px;
}
.header__inner-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header__logo a {
  fill: white;
}
.burger {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.menu {
  margin-right: auto;
}
.menu__list {
  display: flex;
  letter-spacing: 0.6px;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}
.menu__list-link {
  transition: all 0.5s;
  padding: 0 2px 5px 2px;
}
.menu__list-link:hover {
  border-bottom: 1px solid #00b2a0;
}
.menu__list-item + .menu__list-item {
  margin-left: 45px;
}
.header__inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 98px);
}
.header__inner-content img {
  width: 20px;
  margin-bottom: 92px;
}
.header__inner-content span {
  letter-spacing: 0.6px;
  color: #0d302c;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  font-family: "Raleway";
  text-transform: uppercase;
  margin-top: auto;
}
.header__inner-content h1 {
  letter-spacing: 0.6px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: auto;
  text-align: center;
}

.about {
  padding-top: 189px;
  margin-bottom: 200px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  margin-bottom: 100px;
}
.about__content {
  display: flex;
  justify-content: space-between;
}
.about__text {
  flex: 0 1 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 426px;
}
.about__text-right {
  margin-right: 120px;
}

.get {
  background: #f8f8f8;
  padding: 200px 0px;
}
.get__title {
  margin-bottom: 100px;
  text-align: center;
}
.get__features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: flex-start;
  gap: 50px;
}
.get__features-block {
  flex: 0 1 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get__features-block h3 {
  letter-spacing: 0.6px;
  color: #242121;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  max-width: 220px;
  align-items: center;
  flex: 0 1 56px;
  margin-bottom: 10px;
}
.get__features-block h3::before {
  margin-right: 10px;
  height: 50px;
}
.get__features-title-1::before {
  content: url(../img/features-icon-1.svg);
}
.get__features-title-2::before {
  content: url(../img/features-icon-2.svg);
}
.get__features-title-3::before {
  content: url(../img/features-icon-3.svg);
}
.get__info {
  display: flex;
  justify-content: space-between;
}
.get__waves {
  width: 346px;
}
.get__text {
  flex: 0 1 600px;
}
.get__text p + p {
  margin-top: 30px;
}
.get__waves-block-inner {
  display: flex;
}
.get__waves-block-percent {
  letter-spacing: 0.6px;
  color: #242121;
  font-size: 24px;
  line-height: 18px;
  margin-left: 10px;
}

.info {
  background-image: url(../img/info-bg.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right 30%;
}
.info__wrapper {
  margin-right: auto;
  max-width: 558px;
  padding: 200px 0 347px;
}
.info__title {
  margin-bottom: 100px;
}
.info__text p + p {
  margin-top: 30px;
}

.gallery__title {
  text-align: center;
  margin-bottom: 183px;
}
.gallery__filter {
  margin-bottom: 50px;
}
.gallery__filter-btn {
  letter-spacing: 0.6px;
  color: #242121;
  font-size: 24px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.gallery__filter-btn:focus {
  color: #00b2a0;
}
.gallery__filter-btn + .gallery__filter-btn {
  margin-left: 20px;
}
.gallery__items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
}
.gallery__items-row {
  display: flex;
  gap: 40px;
}
.gallery__items-col-2 {
  display: flex;
  gap: 40px;
}
.gallery__items-col-hover {
  cursor: pointer;
  position: relative;
}
.gallery__items-col-hover:hover .gallery__items-hover {
  opacity: 1;
}
.gallery__items-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.7);
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}
.gallery__link-btn {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border: 1px solid #c4c4c4;
  margin: 0 auto 200px;
}
.gallery__blockquote {
  letter-spacing: 0.6px;
  color: #242121;
  font-size: 36px;
  line-height: 40px;
  font-style: italic;
  height: 200px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 200px;
}
.gallery__blockquote .gallery__blockquote-author {
  position: absolute;
  letter-spacing: 0.6px;
  color: #242121;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  top: 126px;
  left: 50%;
}
.gallery__video {
  background-image: url(../img/video-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.gallery__numbers {
  display: flex;
  justify-content: space-between;
  max-width: 696px;
  margin: 0 auto;
}
.gallery__numbers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.6px;
  color: #01353e;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}
.gallery__numbers-item span {
  color: #242121;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.dark-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.blog {
  text-align: center;
  padding-top: 200px;
}
.blog__title {
  margin-bottom: 200px;
}
.blog-slider-bg {
  background-image: url(../img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 800px;
  position: relative;
}
.blog-slider-bg .container {
  height: 100%;
}
.blog__slider {
  display: flex;
  min-width: 0;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.blog__slider .blog__slider-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}
.blog__slider-title {
  letter-spacing: 0.6px;
  color: #ffffff;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  max-width: 600px;
}
.blog__slider-text {
  letter-spacing: 0.6px;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.slick-dots {
  position: absolute;
  bottom: 77px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
}
.slick-dots li + li {
  margin-left: 15px;
}
.slick-dots .slick-active button {
  background: #00b2a0;
}

.team {
  padding-bottom: 200px;
  padding-top: 200px;
}
.team__title {
  margin-bottom: 185px;
  text-align: center;
}
.team__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__item img {
  margin-bottom: 25px;
}
.team__item h4 {
  margin-bottom: 1px;
  letter-spacing: 0.6px;
  color: #242121;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.team__item p {
  letter-spacing: 0.6px;
  color: #242121;
  line-height: 18px;
}

.services {
  background: #f8f8f8;
  padding: 200px 0;
}
.services__title {
  margin-bottom: 228px;
  text-align: center;
}
.services__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__item {
  flex: 0 1 360px;
  padding: 45px;
  background: #ffffff;
}
.services__item-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 577px;
}
.services__item-list li {
  margin-bottom: 20px;
  letter-spacing: 0.6px;
  color: #242121;
}
h3.services__item-title {
  color: #01353e;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0;
}
li.services__price {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  color: #01353e;
  font-size: 36px;
  line-height: 40px;
  justify-content: center;
  letter-spacing: 0;
}
.services__item-dollars {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
}

.map {
  padding: 200px 225px 0px;
}

.form {
  padding-bottom: 200px;
  padding-top: 200px;
}
.form__title {
  margin-bottom: 200px;
  text-align: center;
}
.form__items {
  display: flex;
  justify-content: space-between;
  min-height: 460px;
  margin-bottom: 200px;
}
.form__item-form {
  flex: 0 1 570px;
}
.form__item-form form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.form__item-form input {
  padding: 0;
  border: none;
  padding-bottom: 18px;
  padding-top: 2px;
  border-bottom: 2px solid #dadada;
  height: 38px;
  margin-bottom: 32px;
}
.form__item-form input::placeholder {
  letter-spacing: 0.6px;
  color: #00b2a0;
  line-height: 18px;
  font-size: 18px;
}
.form__item-form textarea {
  padding: 0;
  border: none;
  border-bottom: 2px solid #dadada;
  margin-top: 21px;
  resize: none;
  height: 156px;
}
.form__item-form textarea::placeholder {
  letter-spacing: 0.6px;
  color: #00b2a0;
  line-height: 18px;
  font-size: 18px;
}
.form__item-form button {
  padding: 24px 111px;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  letter-spacing: 0.6px;
  color: #242121;
  font-size: 24px;
  line-height: 18px;
  cursor: pointer;
}
.form__inner-btn {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}
.form__item-contacts {
  flex: 1 1 auto;
  margin-left: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 49px 52px 71px;
  background: #f8f8f8;
}
.form__item-contacts p,
.form__item-contacts address {
  max-width: 327px;
  font-style: normal;
  letter-spacing: 0.6px;
  color: #242121;
  font-size: 24px;
  line-height: 30px;
}
.form__social {
  text-align: center;
  letter-spacing: 0.6px;
  color: #242121;
  font-size: 24px;
  line-height: 18px;
}
.form__social a + a {
  margin-left: 10px;
}
.form__social a:hover {
  color: #00b2a0;
}

.footer {
  text-align: center;
  padding: 70px 10px;
  background: #00b2a0;
}
.footer img {
  display: inline-block;
}
@media (max-width: 1270px) {
  .main section {
    padding: 50px 10px;
  }
  .about__content {
    gap: 40px;
  }
  .get__info {
    gap: 20px;
  }
  .info {
    background-image: none;
  }
  .info__wrapper {
    margin: 0;
    max-width: 100%;
    text-align: center;
  }
  .services__items {
    gap: 50px;
  }
}
@media (max-width: 1025px) {
  .about__text-right {
    margin-right: 0;
  }
  .title {
    font-size: 35px;
  }
  .get__info {
    flex-direction: column;
  }
  .get__waves {
    width: auto;
  }
  .get__waves-block-text {
    font-size: 20px;
    display: block;
    text-align: center;
  }
  .get__text {
    flex: none;
  }
  .services__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .map {
    padding: 50px;
  }
  .get__waves-block + .get__waves-block {
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .menu__list {
    transform: translateY(-200%);
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    background-color: #0d302c;
    transition: all 0.5s;
  }
  .header__inner-top--active .menu__list {
    transform: translateY(0%);
  }
  .menu__list-item + .menu__list-item {
    margin: 0;
  }
  .menu__list-item {
    padding: 10px 0;
    transition: all 0.4s;
    cursor: pointer;
  }
  .menu__list-item:hover {
    background-color: #00b2a0;
  }
  .menu__list-link {
    display: block;
    padding: 0;
    transition: none;
  }
  .menu__list-link:hover {
    border: none;
  }
  .header__inner-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
  }
  .header__inner-top--active {
    background-color: #0d302c;
  }
  .header__logo a {
    transition: all 0.5s 0.5s;
  }
  .burger {
    display: block;
    margin-bottom: 20px;
  }
  .menu {
    margin: 0;
  }

  .header__inner-top--active .burger {
    fill: white;
    transition: all 0.5s 0.5s;
  }
  .header__inner-top--active .header__logo a {
    fill: #00b2a0;
  }
  .header__inner-content img {
    margin-bottom: 0;
  }
  .form__items {
    flex-direction: column;
  }
  .form__item-contacts {
    margin-left: 0;
    margin-top: 50px;
  }
}
@media (max-width: 769px) {
  .header__inner-content span {
    font-size: 125px;
    line-height: 180px;
  }
  .title {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .title span::after {
    background-size: cover;
    width: 25px;
    height: 25px;
    top: 12px;
  }
  .header {
    margin-bottom: 50px;
  }
  .about {
    margin-bottom: 0;
  }
  .about__content {
    gap: 20px;
    flex-wrap: wrap;
  }
  .about__text {
    flex: none;
    width: 100%;
    text-align: center;
  }
  .get__features {
    flex-direction: column;
    align-items: center;
  }
  .get__features-block {
    flex: none;
    max-width: 350px;
  }
  .get__features-block h3 {
    justify-content: space-between;
    flex-direction: column;
    flex: 0 1 90px;
    font-size: 18px;
  }
  .get__features-block h3::before {
    margin: 0;
  }
  .info__wrapper {
    padding: 0;
  }
  .gallery__video {
    height: 250px;
  }
  .gallery__link-btn {
    margin: 0px auto 50px;
  }
  .gallery__blockquote {
    margin-bottom: 50px;
  }
  .gallery__numbers {
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .gallery__numbers-item {
    min-width: 150px;
  }
  .gallery__video {
    margin-bottom: 50px;
  }
  .gallery__items-wrapper {
    gap: 10px;
  }
  .gallery__items-row {
    gap: 10px;
  }
  .gallery__items-col-2 {
    gap: 10px;
  }
  .gallery__items-row {
    flex-direction: column;
  }
  .gallery__items-row img {
    width: 100%;
    height: 100%;
  }
  .gallery__items-col-2 .gallery__items-col {
    width: 50%;
  }
  .gallery__filter-btn {
    display: block;
  }
  .gallery__filter-btn + .gallery__filter-btn {
    margin: 0;
    margin-top: 20px;
  }
  .blog-slider-bg {
    height: 550px;
  }
  .team__items {
    flex-direction: column;
  }
  .footer {
    padding: 20px 10px;
  }
}
@media (max-width: 600px) {
  .gallery__blockquote {
    font-size: 27px;
  }
  .gallery__blockquote .gallery__blockquote-author {
    left: auto;
  }
}

@media (max-width: 426px) {
  .header__inner-content span {
    font-size: 80px;
    line-height: 120px;
  }
  .get__waves-block-text {
    font-size: 18px;
    display: block;
    text-align: left;
  }
  .get__waves-block-percent {
    font-size: 20px;
  }
  .gallery__numbers-item {
    margin-top: 20px;
  }
  .gallery__blockquote .gallery__blockquote-author {
    top: 140px;
  }
  .gallery__numbers {
    justify-content: center;
  }
  .blog__slider-title {
    font-size: 32px;
    line-height: 40px;
  }
  .form__social a {
    display: block;
    margin-top: 20px;
  }
  .form__inner-btn {
    justify-content: center;
  }
  .form__item-form button {
    padding: 24px 75px;
  }
  .map {
    display: none;
  }
  .form__item-contacts {
    padding: 49px 15px 71px;
    text-align: center;
  }
}
